@use '../base/variables' as v;
@use '../base/mixings' as m;


.about{

    
    h2{
        font-size: 2rem;
        color: v.$white;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    p{
        margin-bottom: 1rem;
        font-size: 1.2rem;
        color: v.$lightgray;
        span{
            color: v.$white;
        }
    }
}

.probar{
    margin-top: 5rem;
}
@include m.ipadPro{
    .about{
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
    }
}