@use "../base/variables" as v;
@use "../base/mixings" as m;

.app {
  width: 100%;
  margin: 5rem 0;
  display: flex;
align-items: center;
justify-content: center;
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: first baseline;
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: auto;

    .aside-sticky {
      position: sticky;
      top: 4rem;
      align-self: start;
      height: auto;
      overflow: hidden;
      z-index: 10;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 15rem;
      align-items: start;
    }
  }
}

@include m.ipadPro {
  .app {
    margin: 5rem 0;
    display: flex;
    .container {
      grid-template-columns: 50% 50%;
      width: 90%;
      position: relative;
      .aside-sticky {
        position: sticky;
        margin-bottom: 2rem;
      }
    }
  }
}

@include m.ipadMini {
  .app {
    margin: 3rem 0;
    display: flex;
    .container {
      grid-template-columns: 100%;
      width: 90%;
      position: relative;
      .aside-sticky {
        position: static;
        margin-bottom: 2rem;
      }
    }
  }
}