@use "../base/variables" as v;
@use "../base/mixings" as m;

.experience {
  h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: v.$white;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: v.$lightgray;
    span {
      color: v.$white;
      font-weight: bold;
    }
  }
}

@include m.ipadPro {
  .experience {
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

@include m.mobile {
  .experience {
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}
