@use './base/variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: v.$mainBackground;
     color: v.$white;

     font-family:'montserrat', sans-serif;
     p{
            line-height: 1.3;
     }
} 

